@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #A69665;
    --cor2: #07418C;
    --cor3: #2D61A6; 
    --cor4: #05DBF2; 

    --font-site: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --font-imagem:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    --font-card: 'Poppins', sans-serif; 
}

body {
    background-color: var(--cor4);
    font-family: var(--font-site);
}


header {
    height: 18vh;
    background-color: var(--cor2);
    background-image: url('../imagens/foto-header.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 8px;
    padding-top: 50px;
}

header > h1 {
    color: white;
    padding-bottom: 40px;
    margin-left: 10px;
}

nav {
    background-color: white;
    height: 3rem;
    display: grid;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.nav-center {
   width: 90vw; 
   max-width: 620px;
}


.nav-links {
    display: flex;
    
}

nav a {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1rem;
    color: var(--cor2);
    letter-spacing: 0.1rem;
    margin-right: 1rem;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    color: hsl(205, 78%, 60%);
}

section.cards {
    background: #F6F9FF; 
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #434343;
}

section.cards {
    display: flex;
    padding: 32px;
}

section.cards  section.roupa {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font-imagem);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.imagem {
    background-color: rgb(50, 50, 50);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.459);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.521);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url(../imagens/roupa-sapato.jpg);
    background-position: center center;
}


main {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    margin: auto;
    color: white;    
    padding-top: 20px;
}

main > h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
}

main > article#lista-roupas {
    padding-bottom: 20px;
    margin: 10px;
}

form#forms {
    line-height: 1.5em;
    margin-left: 10px;
    margin: auto;
    width: 400px;
    height: 175px;
    padding-left: 10px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor2));
}

form > h3 {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

form > input {
    text-align: center;
}

article#res {
    padding-bottom: 20px;
}

main#final {
    background-color: var(--cor2);
}

footer {
    background-color: var(--cor4);
}

footer > p {
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    background-color: var(--cor1);
    color: var(--cor2);
}

